.about-hestia-cards-container {
    width: 90%;
    height: 85vh;
    margin: 7.25em auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5em;
}
.about-hestia_card {
    text-align: center;
    width: 20%;
    height: 48%;
    border-bottom: 0.25em solid var(--th-color);
    position: relative;
    overflow: hidden;
    transition: 0.35s;
    -webkit-transition: 0.35s;
    -moz-transition: 0.35s;
    -ms-transition: 0.35s;
    -o-transition: 0.35s;
    border-radius: 3px;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    z-index: 3;
}
.about-hestia_card:hover {
    box-shadow: -2px 3px 3px 1px rgba(82, 82, 82, 0.479);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.about-hestia_card img {
    height: 50%;
    object-fit: cover;
}
.card-title {
    font-size: 2rem;
    padding: 0.5em 0;
}
.card-desc {
    font-size: 1.2rem;
}
.card-desc span {
    font-size: 1.4rem;
}

.about-hestia_card__first {
    background-color: var(--main-color);
    color: var(--main-color);
    display: grid;
    place-items: center;
    border: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.about-hestia_card__first:hover {
    background-color: rgb(221, 85, 165);
    box-shadow: none;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}
.about-hestia_card__first:hover img {
    filter: drop-shadow(-2px 3px 3px 1px rgba(82, 82, 82, 0.479));
    -webkit-filter: drop-shadow(-2px 3px 3px 1px rgba(82, 82, 82, 0.479));
}
.about-hestia_card__first img {
    width: 65%;
    height: 65%;
}
