.hestia-vs::before {
    content: '';
    background-color: var(--th-color);
    width: 1rem;
    height: 85vh;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
.hestia-vs::after,
.hestia-vs::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(20deg);
    -webkit-transform: translate(-50%, -50%) rotate(20deg);
    -moz-transform: translate(-50%, -50%) rotate(20deg);
    -ms-transform: translate(-50%, -50%) rotate(20deg);
    -o-transform: translate(-50%, -50%) rotate(20deg);
}
.hestia-vs::after {
    content: 'VS';
    background-color: var(--main-color);
    color: var(--rd-color);
    font-size: 9rem;
    font-family: var(--title-font);
    text-align: center;
    text-shadow: -2px 2px #741d3a, -2px 0px #741d3a, -3px 3px 3px rgba(53, 53, 53, 0.548);
    width: 11rem;
    height: 11rem;
    top: 37%;
    left: 46%;
    transform: rotate(0) !important;
    -webkit-transform: rotate(0) !important;
    -moz-transform: rotate(0) !important;
    -ms-transform: rotate(0) !important;
    -o-transform: rotate(0) !important;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.hestia-vs {
    text-align: center;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    overflow: hidden;
}

.advantages,
.disadvantages {
    font-size: 3rem;
    position: relative;
    top: 1.5em;
    left: 3em;
}
.advantages h2,
.disadvantages h2 {
    text-underline-offset: 0.35em;
    text-decoration: underline 0.15em;
    position: relative;
    left: -1em;
}

.vs-item {
    font-size: 2rem;
    text-align: left;
    margin: 0.75em auto;
}
.vs-item:first-of-type {
    margin-top: 2em;
}
.vs-item p {
    color: var(--nd-color);
    font-size: 1.5rem;
    width: 80%;
}

.start-btn {
    background-color: var(--rd-color);
    color: var(--main-color);
    font-size: 2rem;
    font-family: var(--title-font);
    padding: 0.5em 2em;
    box-shadow: -2px 2px 5px 1px rgba(73, 73, 73, 0.37);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    position: absolute;
    bottom: 5rem;
    right: 5rem;
    z-index: 1;
    transition: 0.35s;
    -webkit-transition: 0.35s;
    -moz-transition: 0.35s;
    -ms-transition: 0.35s;
    -o-transition: 0.35s;
}
.start-btn:hover {
    box-shadow: -1px 1px 1px 1px rgba(19, 19, 19, 0.685);
}
